

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> index.js</title>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./build/entry.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Inconsolata,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
  <link type="text/css" rel="stylesheet" href="styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  
</head>



<body class="layout small-header">
    <div id="stickyNavbarOverlay"></div>
    

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            
             
                <a href="index.html">
                    <h1 class="navbar-item">Credihome Creation Forms</h1>
                </a>
            
        </div>
        <div class="menu">
            
            <div class="navigation">
                <a
                    href="index.html"
                    class="link"
                >
                    API Documentation
                </a>
                
                
                
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div
            class="sidebar "
            id="sidebarNav"
        >
            
            <nav>
                
                    <h2><a href="index.html">Documentation</a></h2><div class="category"><h3>Components</h3><ul><li><a href="FormStructure.html">FormStructure</a></li></ul></div>
                
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p>Source</p>
                    <h1>index.js</h1>
                </header>
                



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>/* eslint-disable no-console, no-param-reassign */
import React from 'react';
import PropTypes from 'prop-types';
import { Formik } from 'formik';
import * as Yup from 'yup';

import Section from '../../components/Section';
import Form from '../../components/Form';
import { Back, Submit } from '../../components/Buttons';
import { Subtitle } from '../../components/Text';
import api from '../../api';

/**
 * Wrapper de formulário, adiciona um formik no padrão do presente no WL
 *
 * @component
 * @example
 * return (
 *   &lt;FormStructure
 *     initialValues={{ hello: '' }}
 *      onSubmit={() => alert('Hello World!')}
 *      textSubmit="Hello"
 *      onBack={() => alert('Good bye World!')}
 *      textBack="Bye"
 *      textSubtitle="Hello Form"
 *    >
 *      &lt;label>Form sem estilo&lt;/label>
 *      &lt;input />
 *    &lt;/FormStructure>
 * )
 */

function FormStructure(props) {
  const {
    children,
    initialValues,
    validationSchema,
    onSubmit,
    onBack,
    textSubmit,
    textBack,
    textSubtitle,
    disabledSubmit,
    style,
    alignSubtitle,
    sendAPI,
    setSubmitting,
    setError,
    prepareData,
    leadData,
    leadDataManipulation,
    axios,
  } = props;

  const backButton = onBack &amp;&amp; textBack;

  const sendToAPI = (values, sendData) => {
    if (!axios) {
      console.error(`ERROR sendAPI: No formulário de título "${textSubtitle}", "sendAPI" está settado como true porém o prop obrigatório "axios" está indefinido`);
      return;
    }
    api.updateLead(sendData, axios)
      .then((res) => {
        onSubmit(values, sendData, res);
      })
      .catch((err) => {
        if (setError) {
          setError(err);
        } else {
          console.error('ERRO ao enviar para a API: ', err);
        }
      })
      .finally(() => {
        if (setSubmitting) {
          setSubmitting(false);
        }
      });
  };

  const prepareLeadData = (values) => {
    if (!leadData || !leadDataManipulation) {
      console.error(`ERROR prepareData: No formulário de título "${textSubtitle}", "sendAPI" ou "prepareData" estão settados como true porém o(s) props obrigatório(s) ${!leadData ? '"leadData" ' : ''}${!leadDataManipulation ? '"leadDataManipulation" ' : ''}está(ão) indefinido(s)`);
      return;
    }
    if (setSubmitting) {
      setSubmitting(true);
    }
    const sendData = { ...leadData };
    Object.keys(leadDataManipulation).map((type) => leadDataManipulation[type].path.map((p) => p.split('.').reduce((lead, val, i, array) => {
      if (array.length === i + 1) {
        let value = values[type];
        if (leadDataManipulation[type].unmask) {
          value = leadDataManipulation[type].unmask(values[type]);
        }
        lead[val] = value;
        return lead[val];
      }

      if (lead[val] === undefined) {
        lead[val] = {};
      }

      return lead[val];
    }, sendData)));

    if (sendAPI) {
      sendToAPI(values, sendData);
    } else {
      onSubmit(values, sendData);
    }
  };

  return (
    &lt;Section>
      {textSubtitle &amp;&amp; (
        &lt;div style={alignSubtitle === 'center' ? { marginBottom: '40px' } : {}}>
          &lt;Subtitle textAlign={alignSubtitle} partnerColors={style}>
            {textSubtitle}
          &lt;/Subtitle>
        &lt;/div>
      )}
      &lt;Formik
        initialValues={initialValues}
        enableReinitialize
        onSubmit={sendAPI || prepareData ? prepareLeadData : onSubmit}
        validationSchema={validationSchema}
      >
        {({ handleSubmit }) => (
          &lt;Form onSubmit={handleSubmit} noValidate>

            {children}

            &lt;div className={backButton ? 'row' : ''}>
              {backButton &amp;&amp; (
                &lt;Back
                  width="49%"
                  onClick={onBack}
                  text={textBack}
                  partnerColors={style}
                />
              )}

              &lt;Submit
                width={backButton ? '49%' : '100%'}
                text={textSubmit}
                disabled={disabledSubmit}
                partnerColors={style}
              />
            &lt;/div>
          &lt;/Form>
        )}
      &lt;/Formik>
    &lt;/Section>
  );
}

FormStructure.propTypes = {
  /**
 * O formulário em si, usar o componente &lt;Field /> do formik para acessar os parâmetros do formulário
 */
  children: PropTypes.oneOfType([
    PropTypes.arrayOf(PropTypes.node),
    PropTypes.node,
  ]).isRequired,
  /**
 * Valores iniciais do formulário se ele não começa vazio,
 * se entrar valores diferentes dos alterados no formulário eles vão ser retornados no submit também
 */
  initialValues: PropTypes.object.isRequired,
  /**
 * Um objeto Yup, deve ser preenchido se não quiser utilizar a validação default
 */
  validationSchema: PropTypes.object,
  /**
 * Função que roda quando o usuário completa o formulário, recebe parâmetros diferentes dependendo das flags settadas:
 * &lt;ul>
 * &lt;li>Sem nenhuma flag: onSubmit(values), onde values são os valores iniciais + os dados preenchidos pelo usuário&lt;/li>
 * &lt;li>prepareData: onSubmit(values, sendData), onde sendData são os valores passados em leadData + os dados preenchidos pelo usuário propriamente parseados pelo objeto leadDataManipulation&lt;/li>
 * &lt;li>sendAPI: onSubmit(values, sendData, res), onde res é a resposta do request feito para a API&lt;/li>
 * &lt;ul>
 */
  onSubmit: PropTypes.func.isRequired,
  /**
 * Função que roda quando o usuário pressiona o botão de back, se ela for undefined o botão de back não aparece
 */
  onBack: PropTypes.func,
  /**
 * Texto que aparece no botão de submit
 */
  textSubmit: PropTypes.string.isRequired,
  /**
 * String que altera o posicionamento do título, se o valor for 'center' também troca a margem
 * entre o título e os inputs de 25px para 40px
 */
  alignSubtitle: PropTypes.string,
  /**
 * Texto que aparece no botão de back
 */
  textBack: PropTypes.string,
  /**
 * Texto do título
 */
  textSubtitle: PropTypes.string,
  /**
 * Flag que se true dá ao botão submit o atributo disabled
 */
  disabledSubmit: PropTypes.bool,
  /**
 * Objeto de estilo de parceitos utilizado pela credihome, o mesmo utilizado no WL
 */
  style: PropTypes.object.isRequired,
  /**
 * Flag que quando true, após a confirmação do usuário, preenche leadData de acordo com
 * os valores passados em leadDataManipulation&lt;br>
 * Se estiver true, leadData e leadDataManipulation são obrigatórios
 */
  prepareData: PropTypes.bool,
  /**
 * Flag que quando true, após a confirmação do usuário, envia os dados do lead
 * atualizados para a API da credihome
 ** Se estiver true, leadData, leadDataManipulation e axios são obrigatórios
 */
  sendAPI: PropTypes.bool,
  /**
 * Função que recebe true ou false dependendo de se o formulário terminou(false) ou não(true)
 * de rodar tudo que deveria após a submissão
 */
  setSubmitting: PropTypes.func,
  /**
 * Função que recebe um erro caso a chamada da API retorne erro
 */
  setError: PropTypes.func,
  /**
 * Dados do lead a serem atualizados, deve seguir o padrão da credihome se sendAPI for true&lt;br>
 * &lt;i>Obrigatório quando sendAPI ou prepareData são true&lt;/i>
 */
  leadData: PropTypes.object,
  /**
 * Objeto que relaciona um valor do formulário com um campo do leadData, ele segue o seguinte formato:&lt;br>
 * &lt;pre>
 *  {
 *    valorNoFormulário1: {
 *      path: ['campo no lead Data', 'outro campo no lead data'],
 *      unmask: (value) => funçãoQueArrumaOValor(vale)
 *    },
 *    valorNoFormulário2: {
 *      path: ['campo no lead Data'],
 *    },
 *  }
 * &lt;/pre>
 * &lt;i>Obrigatório quando sendAPI ou prepareData são true&lt;/i>
 */
  leadDataManipulation: PropTypes.object,
  /**
 * Instância do axios com a url da API da credihome no ambiente correto + o token de autorização&lt;br>
 * &lt;i>Obrigatório quando sendAPI ou prepareData são true&lt;/i>
 */
  axios: PropTypes.func,
};

FormStructure.defaultProps = {
  onBack: undefined,
  textBack: undefined,
  textSubtitle: undefined,
  validationSchema: Yup.object().shape({}),
  disabledSubmit: false,
  sendAPI: false,
  setSubmitting: undefined,
  setError: undefined,
  prepareData: undefined,
  leadData: undefined,
  leadDataManipulation: undefined,
  axios: undefined,
  alignSubtitle: undefined,
};

export default FormStructure;
</code></pre>
        </article>
    </section>




            </div>
            
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.6</a></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            
        </div>
        <div id="side-nav" class="side-nav">
        </div>
    </div>
<script src="scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="scripts/linenumber.js"> </script>

</body>
</html>
